[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = http://github.com/vim-scripts/Zenburn.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = http://github.com/edsono/vim-matchit.git
[submodule "bundle/ack.git"]
	path = bundle/ack.git
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/snipmate.git"]
	path = bundle/snipmate.git
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = http://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/sparql"]
	path = bundle/sparql
	url = git://github.com/vim-scripts/sparql.vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "bundle/solarized.git"]
	path = bundle/solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-speeddating.git"]
	path = bundle/vim-speeddating.git
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-align.git"]
	path = bundle/vim-align.git
	url = git://github.com/pix/vim-align.git
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/ewiplayer/vim-fswitch.git
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = https://github.com/wincent/Command-T.git
